@import "./fonts.sass"
@import "./commonElements.sass"


// Config vars
// Kaldi logo brand color: #FD461E
$kaldi-red: #D64000
$kaldi-red-invert: #fff

$primary: $kaldi-red
$primary-invert: $kaldi-red-invert
$body-color: #333
$black: #2b2523



*
  box-sizing: border-box
  outline: none
  font-family: 'Roboto', sans-serif

body, html 
  overflow-x: hidden

body
  margin: 0
  padding: 0
  position: relative


section, article, nav, main, header, footer
  font-size: 1vw
  @media(max-aspect-ratio: 3/3), (max-height: 500px)
    font-size: 2.5vh

a, a:hover, a:focus, .btn
  color: #fff
  border: none
  background: transparent
  text-decoration: none
  cursor: pointer

.input-common.js-input-valid.error
  border: 1px solid red


h1,h2,h3,h4,p, h5
  margin: 0
  font-weight: normal

ul
  margin: 0
  padding: 0
  list-style: none

.row
  display: flex
  flex-direction: row
.column
  display: flex
  flex-direction: column

.row-to-column
  display: flex
  flex-direction: row
  @media(max-aspect-ratio: 3/3), (max-height: 500px)
    flex-direction: column
    align-items: center


.wrapper
  width: 86%
  margin: 0 auto
  @media(max-aspect-ratio: 3/3), (max-height: 500px)
    width: 100%

.btn-order
  font-weight: 700
  color: #fff
  background: #FF4B55
  border-radius: 4em
  padding: .8em 2em
  margin-left: 2em
  align-self: flex-end
  font-size: 1em
  border: none
  cursor: pointer

.header-btn
  color: #fff
  background: #005BE4
  font-weight: 500
  font-size: 0.8em
  padding: .7em 2em
  border-radius: 5em
  & + .btn 
    margin-left: 1em
    @media(max-aspect-ratio: 3/3), (max-height: 500px)
      margin-left: 0
      margin-top: 2em
      color: #005BE4
      background: #fff
  @media(max-aspect-ratio: 3/3), (max-height: 500px)
    &:first-child
      padding: 1em 3em
      font-size: 0.9em
  &:hover
    cursor: pointer
    color: #005BE4
    background: #fff


.input-common 
  background: rgba(33, 33, 33, 1)
  font-weight: 500
  font-size: .9em
  padding: 1em 2em
  border-radius: 8px
  border: none
  color: #AFAFAF

.icon
  width: 1em
  height: 1em
