.common-contact
  font-size: .8em
  align-items: center
  a
    margin-right: 2em
    &:hover
      color: #005BE4
  img
    width: .8em
    height: .8em
    margin-right: 1em
  .row
    align-items: center


.social-media
  position: absolute
  left: 1em
  top: 0
  height: 100vh
  justify-content: center
  width: 2em
  &:after
    content: ''
    display: block
    border-right: 1px solid #0b192d
    height: 10em
    position: absolute
    top: 50%
    transform: translateY(-50%)
    left: 2.5em
